// 默认样式
.zyhAssetMerchantsNumberDataBoardSection {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  height: 100%;

  .section1 {
    height: 20%;

    ul {
      height: 100%;
      display: flex;
      align-items: center;

      li {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .top {
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          font-size: 12px;
          font-family: PingFang SC;
          font-weight: 400;
          color: #100F0F;
        }

        .bottom {
          height: 50%;
          display: flex;
          justify-content: space-around;

          div.p1 {
            width: 50%;
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
              text-align: center;
              height: 50%;
              font-size: 30px;
              font-family: PingFang SC;
              font-weight: bold;
              color: #2754FB;
            }

            span:nth-child(2) {
              margin: 0 auto;
              width: 50px;
              text-align: center;
              border-radius: 9px;
              font-size: 12px;
              font-family: PingFang SC;
              font-weight: 400;
              background: #2c6af5;
              color: #FBF6F6;
              line-height: 1;
              padding: 2px;
            }
          }

          div.p2 {
            width: 50%;
            display: flex;
            flex-direction: column;
            position: relative;

            div {
              height: 50%;
              text-align: center;

              span:nth-child(1) {
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: bold;
                color: #FB6D27;
              }

              span:nth-child(2) {
                font-size: 12px;
                font-family: PingFang SC;
                font-weight: bold;
                color: #FB6D27;
                margin-left: -3px;
              }
            }
          }
        }
      }
    }
  }

  .section2 {
    height: 30%;
    position: relative;
    display: flex;

    .part1 {
      width: 50%;

      .left {
        position: absolute;
        left: 42px;
        top: 0;
        display: flex;

        span:nth-child(1) {
          width: 5px;
          height: 20px;
          border-radius: 5px;
          background: #2858f2;
          margin-right: 5px;
        }

        span:nth-child(2) {
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: normal;
          color: #000000;
        }
      }

      #merchantsNumberEchart1 {
        width: 100%;
        height: 100%;
      }
    }

    .part2 {
      width: 50%;

      .left {
        position: absolute;
        left: calc(50% + 42px);
        top: 0;
        display: flex;

        span:nth-child(1) {
          width: 5px;
          height: 20px;
          border-radius: 5px;
          background: #2858f2;
          margin-right: 5px;
        }

        span:nth-child(2) {
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: normal;
          color: #000000;
        }
      }

      ul.rank {
        padding-top: 35px;
        padding-bottom: 50px;
        width: 100%;
        height: 100%;

        li {
          height: 20%;
          display: flex;
          align-items: center;

          .merchantName {
            width: 20%;
            padding-left: 42px;

            span {
              font-size: 16px;
              font-family: PingFang SC;
              font-weight: normal;
            }

            span:nth-child(1) {
              margin-right: 5px;
            }
          }

          .progressWrapper {
            padding-right: 42px;
            width: 80%;
          }
        }
      }

      .paginationWrapper {
        position: absolute;
        right: 42px;
        bottom: 15px;
      }
    }
  }

  .section3 {
    height: 45%;
    position: relative;

    .section3Top {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;

      .left {
        margin-left: 42px;
        display: flex;

        span:nth-child(1) {
          width: 5px;
          height: 20px;
          border-radius: 5px;
          background: #2858f2;
          margin-right: 5px;
        }

        span:nth-child(2) {
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: normal;
          color: #000000;
        }
      }

      .medial {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .medialWrapper {
          display: flex;
          border-radius: 5px;

          span {
            padding: 7px 20px;
            font-size: 16px;
            font-family: PingFang SC;
            font-weight: normal;
            color: #2754FB;
          }

          span.currentActive {
            background: #2858f2;
            color: #fff;
            border-radius: 5px;
          }
        }
      }

      .right {
        margin: 0 50px 0 10px;

        .block {
          color: #2754FB;
          border-radius: 5px;
        }
      }
    }

    #merchantsNumberEchart2 {
      height: 100%;
      width: 100%;
    }

    .section3Bottom {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .gap2 {
    height: 5%;
  }
}