.zyhAsideDetailPage {
  // 初始化样式开始
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  height: 100vh;
  background: #1e69fe;
  display: flex;

  aside {
    overflow: hidden;
    width: 200px;
    background: #1e69fe;

    .logo {
      padding: 35px 0px;
      font-family: MyriadPro-Regular;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
      // border: 1px solid black;
    }

    .back {
      // border: 1px solid red;
      width: 20px;
      margin: 13px auto 32px;

      img {
        width: 20px;
      }
    }

    nav {
      // border: 1px solid green;
      padding-top: 35px;
    }

    .el-col {
      .el-menu {
        width: 200px;

        .el-submenu {
          // text-indent: 18px;
          text-align: left !important;

          .el-submenu__title {
            padding-left: 55px !important;

            i {
              color: #fff;
            }

            span {
              font-size: 15px;
              margin-left: 15px;
            }
          }

          .el-menu--inline {
            .el-menu-item {
              padding-left: 75px !important;

              span {
                font-size: 13px;
                color: #fff;
                margin-left: 15px;
              }
            }
          }
        }

        .el-submenu.arrowIconHidden {
          .el-submenu__title {
            i {
              display: none;
            }
          }
        }
      }
    }
  }

  main {
    width: calc(100vw - 200px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #fff;
  }
}
