// 默认样式
.zyhPanoramaPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  height: 100vh;

  #container {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    width: 100%;
  }

  .pageInfoLayer {
    width: 100%;
    border-top-left-radius: 50px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    .infoArea {
      height: 102px;
      display: flex;
      flex-direction: row;

      .pageName {
        flex-grow: 1;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #000000;
        line-height: 102px;
        text-indent: 38px;
      }

      .profile {
        margin-top: 40px;
        margin-right: 37px;
      }
    }

    .searchArea {
      display: flex;
      flex-direction: row;
      margin-left: 38px;

      .inputFrame {
        .el-input {
          .el-input__inner {
            height: 42px;
            text-indent: 10px;
            width: 300px;
            margin-right: 30px;
            border: 1px solid #3571f5;
          }
        }
      }

      .searchButton {
        margin-top: 5px;

        .el-button {
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding: 0 15px;
          height: 36px;
          margin-left: 8px;
          font-size: 16px;
          background: #1e69fe;
          color: #fff;

          span {
            margin-left: 5px;
          }
        }
      }

      .block {
        border: 1px solid #3571f5;
        border-radius: 5px;
      }
    }
  }
}
